<html>
	<head>
    	<script type="text/javascript" src="http://dygraphs.com/1.0.1/dygraph-combined.js"></script>
		
		<style type="text/css">
			.form-style-9{
				background: #FAFAFA;
				padding: 30px;
				margin: 50px auto;
				box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
				border-radius: 10px;
				border: 6px solid #305A72;
			}
			.form-style-9 ul{
				padding:0;
				margin:0;
				list-style:none;
			}
			.form-style-9 ul li{
				display: block;
				margin-bottom: 10px;
				min-height: 35px;
			}
			.form-style-9 ul li  .field-style{
				box-sizing: border-box; 
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box; 
				padding: 8px;
				outline: none;
				border: 1px solid #B0CFE0;
				-webkit-transition: all 0.30s ease-in-out;
				-moz-transition: all 0.30s ease-in-out;
				-ms-transition: all 0.30s ease-in-out;
				-o-transition: all 0.30s ease-in-out;

			}.form-style-9 ul li  .field-style:focus{
				box-shadow: 0 0 5px #B0CFE0;
				border:1px solid #B0CFE0;
			}
			.form-style-9 ul li .field-split{
				width: 100%;
			}
			.form-style-9 ul li .field-full{
				width: 100%;
			}
			.form-style-9 ul li input.align-left{
				float:left;
			}
			.form-style-9 ul li input.align-right{
				float:right;
			}
			.form-style-9 ul li textarea{
				width: 100%;
				height: 100px;
			}

			.myButton {
				-moz-box-shadow: 0px 0px 0px 2px #9fb4f2;
				-webkit-box-shadow: 0px 0px 0px 2px #9fb4f2;
				box-shadow: 0px 0px 0px 2px #9fb4f2;
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
				background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
				background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
				background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
				background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
				background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
				background-color:#7892c2;
				-moz-border-radius:10px;
				-webkit-border-radius:10px;
				border-radius:10px;
				border:1px solid #4e6096;
				display:inline-block;
				cursor:pointer;
				color:#ffffff;
				font-family:arial;
				font-size:19px;
				padding:12px 37px;
				text-decoration:none;
				text-shadow:0px 1px 0px #283966;
			}
			.myButton:hover {
				background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e), color-stop(1, #7892c2));
				background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
				background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
				background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
				background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
				background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
				filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e', endColorstr='#7892c2',GradientType=0);
				background-color:#476e9e;
			}
			.myButton:active {
				position:relative;
				top:1px;
			}
			.dygraph-axis-label{
				font-weight: 700;
			}

		</style>
		
	</head>
	
	<body>
		{% if comp_page != 1 %}
		<a href="http://slrtccs.appspot.com/graph?y={{ y }}&m={{ m }}&d={{ d }}&trackno=1&comp_page=0" class="myButton">1- Main Line</a>
		<a href="http://slrtccs.appspot.com/graph?y={{ y }}&m={{ m }}&d={{ d }}&trackno=2&comp_page=0" class="myButton">2- KelaniValley</a>
		<a href="http://slrtccs.appspot.com/graph?y={{ y }}&m={{ m }}&d={{ d }}&trackno=3&comp_page=0" class="myButton">3- Puttlam Line</a>
		<a href="http://slrtccs.appspot.com/graph?y={{ y }}&m={{ m }}&d={{ d }}&trackno=4&comp_page=0" class="myButton">4- Coastal Line</a>	

		<a href="http://slrtccs.appspot.com/"><img src="/images/home-icon.png" align="right"></a>
		{% endif %}
		
		<div id="graphdiv" style="{% if comp_page == 1 %} width: 100% {% else %} width: 70% {% endif %} ; height: 550px; float: left;"></div>
		
		{% if comp_page != 1 %}
		<div id="dashboard" style="width: 20%; margin-left: 50px; float: left;">
			
			<form action="/newitem" method="post" class="form-style-9">
			<p> Graph Input</p>
				<ul>
					<li>
						<input type="hidden" id="url" name="url" value="{{ url }}" />
						<label for="train_id">Train ID:
							<select name="train_id" id="train_id">
							{% for t in trainNotes %}
								
								<option value="{{ t.train_id }}">{{ t.train_id }}</option>
								
							{% endfor %}
							</select>
						</label>
					</li>
					<li>
						<!--<input type="text" name="sCode" class="field-style field-split align-left" placeholder="Station Code" />-->
						<select name="sCode" class="field-style field-split align-left">
							{% for t in trackData_ %}
								<option value="{{ t.station_name }}">{{ t.station_name }}</option>
							{% endfor %}
						</select>
						<input type="hidden" name="track" class="field-style field-split align-left" value="{{ track }}" />
					</li>
					<li>
						<input type="text" name="aTime" class="field-style field-split align-left" placeholder="Arrival Time" />
					</li>
						<select name="a_comment">
							<option selected value="">No Comments</option>
							<option value="Technical Issues">Technical Issues</option>
							<option value="Environmental Disasters">Natural Disasters</option>
							<option value="Signal Controlling Issues">Signal Controlling Issues</option>
						</select>
					<li><br>
					<input type="dTime" name="dTime" class="field-style field-split align-left" placeholder="Departure Time" />
					</li>
					<select name="a_comment">
						<option selected value="">No Comments</option>
						<option value="Technical Issues">Technical Issues</option>
						<option value="Environmental Disasters">Natural Disasters</option>
						<option value="Signal Controlling Issues">Signal Controlling Issues</option>
					</select>
					<br>
					<input type="submit" />
				</form>
				<p> ---------------------------<br>Delete Item</p>
				<form action="/datatable" method="GET" >
					<input type="hidden" name="trackno" value="{{ track }}" />
					<input type="hidden" name="y" value="{{ y }}" />
					<input type="hidden" name="m" value="{{ m }}" />
					<input type="hidden" name="d" value="{{ d }}" />
					<select name="tID">
						{% for t in trains %}
							<option value="{{ t }}">{{ t }}</option>
						{% endfor %}
					</select>
					<input type="submit" value = "Delete" />
				</form>
		</div>
		{% endif %}
		<script type="text/javascript">
  			
  			g = new Dygraph(
				// containing div
				document.getElementById("graphdiv"),
				// CSV or path to a CSV file.
				"Station" + "{% for train_id in trains %},{{ train_id }}{% endfor %}" + "\n"
				
				{% for time in items %}
    				
    				+ "{{ time }}{% for value in items[time] %},{{ items[time][value]['graph_num'] }}{% endfor %}\n"
    				
    			{% endfor %}
				,
				{
					legend: 'always',
					animatedZooms: true,
					connectSeparatedPoints: true,
					title: ' ',
					axes:{
						
						y:{
							
							ticker: function(min, max, pixels, opts, dygraph, vals) {
          						return [{v:-1, label:"h"}{% for station in trackData %}, {v:{{station.graph_number}}, label:"{{station.station_name}}"}{% endfor %}];
        					}
						}
					},
					yAxisLabelWidth: 100,
					axisLineWidth: 3,
					ylabel: 'Station',
					xlabel: 'Time'
				}
			);
		</script>
		<button onclick="myFunction()"style = "position:absolute; bottom :0px; width:8%" class="myButton">Print</button>

		<script>
		function myFunction() {
		window.print();
		}
</script>
	</body>
</html>