<html>
  <head>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(updateChart);
      function drawChart(d) {
        var data = google.visualization.arrayToDataTable(d);

        var options = {
          title: 'Train Chart'
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
      
      function addPoint(X, Y1, Y2){
      		
      		var tableRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];

			// Insert a row in the table at the last row
			var newRow   = tableRef.insertRow(tableRef.rows.length);
			
			// Insert a cell in the row at index 0
			var c1  = newRow.insertCell(0);
			var c2  = newRow.insertCell(1);
			var c3  = newRow.insertCell(2);
			
			// Append a text node to the cell
			var tX  = document.createTextNode(X);
			var tY1  = document.createTextNode(Y1);
			var tY2  = document.createTextNode(Y2);
			
			c1.appendChild(tX);
			c2.appendChild(tY1);
			c3.appendChild(tY2);
      }
      
      function updateChart(){
      		
      		var tableRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];
      		var rows = tableRef.getElementsByTagName('tr');
      		
      		data = [];
      		headings = [];
      		
      		var h = rows[0].getElementsByTagName('th');
      		for(var k = 0; k < h.length; k++)
      			headings.push( h[k].innerHTML );
      		
      		data.push(headings);
      		
      		for(var i = 1; i < rows.length; i++){
      			
      			var r = rows[i];
      			var columns = r.getElementsByTagName('td');
      			
      			var row = [];
      			for(var j = 0; j < columns.length; j++){
      				
      				var c = columns[j];
      				row.push( parseInt(c.innerHTML) );
      			}
      			
      			data.push(row);
      		}
      		
      		{#data = [
      		
      		{% for time, item in items %}
    		
    			{% for train_id, value in item %}
    				
    				{{ value.graph_num }}
    				
    			{% endfor %}
    		
    		{% endfor %}
      		
      		];#}
      		
      		var options = {
          		title: 'Company_Performance'
        	};
        	
      		drawChart(data);
      }
      
      function addNewTrain(trainName){
      		
      		var tableRef = document.getElementById('myTable').getElementsByTagName('tbody')[0];
      		var rows = tableRef.getElementsByTagName('tr');
      		
      		th = document.createElement('th');
      		th.innerHTML = trainName;
      		rows[0].appendChild(th);
      		
      		for(var i = 1; i < rows.length; i++){
      			
      			var cell = rows[i].insertCell(-1);
      			cell.setAttribute('contentEditable', 'true');
      		}
      }
      
    </script>
  </head>
  <body>
    <div id="chart_div" style="width: 1500px; height: 900px;"></div>
    
    <table id="myTable" style="width:300px">
    	<tr>
    		<th>Station Name</th>
    		
    		{% for train_id in trains %}
    			
    			<th>{{ train_id }}</th>
    			
    		{% endfor %}
    		
    	</tr>
    	
    	{% for time in items %}
    		
    		<tr>
    			<td>{{ time }}</td>
    			
    			{% for value in items[time] %}
    				
    				<td>{{ items[time][value]['graph_num'] }}</td>
    				
    			{% endfor %}
    			
    		</tr>
    		
    	{% endfor %}
    	
	</table>
    
  </body>
</html>