<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Home</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <meta name="description" content="Awesome Bubble Navigation with jQuery" />
        <meta name="keywords" content="jquery, circular menu, navigation, round, bubble"/>
        <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen"/>
        <style>
            *{
                margin:0;
                padding:0;
            }
            body{
                font-family:Arial;
                background:#fff url(images/bg.png) no-repeat top left;
            }
            .title{
                width:548px;
                height:119px;
                position:absolute;
                top:400px;
                left:150px;
                background:transparent url(/images/title_home.png) no-repeat top left;
            }
            a.back{
                background:transparent url(/images/back.png) no-repeat top left;
                position:fixed;
                width:150px;
                height:27px;
                outline:none;
                bottom:0px;
                left:0px;
            }
            #content{
                margin:0 auto;
            }


        </style>
    </head>

    <body>
        <div id="content">
            <a class="back" href="http://tympanus.net/codrops/2010/04/29/awesome-bubble-navigation-with-jquery"></a>
            <div class="title"></div>
			

            <div class="navigation" id="nav">
                <div class="item user">
                    <img src="/images/bg_user.png" alt="" width="199" height="199" class="circle"/>
                    <a href="#" class="icon"></a>
                    <h2>User</h2>
                    <ul>
                        <li><a href="/admin/usermanager">System Users</a></li>
						<li><a href="/assistance">Assistance</a></li>
                        
                    </ul>
                </div>
                <div class="item home">
                    <img src="/images/bg_home.png" alt="" width="199" height="199" class="circle"/>
                    <a href="#" class="icon"></a>
                    <h2>Generate_Graph</h2>
                    <ul>
                        <li><a href="/graph?y={{ year }}&m={{ month }}&d={{ day }}&trackno=3&comp_page=0">Create Graph</a></li>
                        
                    </ul>
                </div>
                <div class="item shop">
                    <img src="/images/bg_shop.png" alt="" width="199" height="199" class="circle"/>
                    <a href="#" class="icon"></a>
                    <h2>Master Data</h2>
                    <ul>
                        <li><a href="/admin/defaults">Enter Default Values</a></li>
						<li><a href="/admin/defaults">New Driver/Guard</a></li>
                        
                    </ul>
                </div>
                <div class="item camera">
                    <img src="/images/bg_camera.png" alt="" width="199" height="199" class="circle"/>
                    <a href="#" class="icon"></a>
                    <h2>Train Note</h2>
                    <ul>
                        <li><a href="/newtrain">Add Train Note</a></li>
                        <li><a href="/update_train">Search or Edit Train Note</a></li>
                    </ul>
                </div>
                <div class="item fav">
                    <img src="/images/bg_fav.png" alt="" width="199" height="199" class="circle"/>
                    <a href="#" class="icon"></a>
                    <h2>Reports</h2>
                    <ul>
                        <li><a href="/report">Create Reports</a></li>
                        <li><a href="/compare">Compare Graph</a></li>
                    </ul>
                </div>
				
            </div>
        </div>
		
        <!-- The JavaScript -->
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript">
            $(function() {
                $('#nav > div').hover(
                function () {
                    var $this = $(this);
                    $this.find('img').stop().animate({
                        'width'     :'199px',
                        'height'    :'199px',
                        'top'       :'-25px',
                        'left'      :'-25px',
                        'opacity'   :'1.0'
                    },500,'easeOutBack',function(){
                        $(this).parent().find('ul').fadeIn(700);
                    });

                    $this.find('a:first,h2').addClass('active');
                },
                function () {
                    var $this = $(this);
                    $this.find('ul').fadeOut(500);
                    $this.find('img').stop().animate({
                        'width'     :'52px',
                        'height'    :'52px',
                        'top'       :'0px',
                        'left'      :'0px',
                        'opacity'   :'0.1'
                    },5000,'easeOutBack');

                    $this.find('a:first,h2').removeClass('active');
                }
            );
            });
        </script>
		
 <marquee behavior="scroll" style = "position:absolute; bottom :0px; width:63%" direction="left"><img src= "/images/train.gif" width="94" height="88" alt="moving train" /></marquee>

    </body>
</html>