<html>
<head>
  <title>TimePicker Control Example</title>  

<title>Student Registration Form</title>
<style type="text/css">
h3{font-family: Calibri; font-size: 22pt; font-style: normal; font-weight: bold; color:SlateBlue;
text-align: center; text-decoration: underline }
table{font-family: Calibri; color:white; font-size: 11pt; font-style: normal;
text-align:; background-color: SlateBlue; border-collapse: collapse; border: 2px solid navy}
table.inner{border: 0px}
.button {
	float:right;
	padding: 11px 25px;
	
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	cursor: pointer;
	
	box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256,256,256,0.75);
}

.button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256,256,256,0.75);
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.5);
}

.button:focus {
	position: relative;
	bottom: -1px;
	
	background: #56c2e1;
	
	box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256,256,256,0.75);
}


</style>
</head>
 
<body>
<a href="http://slrtccs.appspot.com/"><img src="/images/home-icon.png" align="right"></a>
 <center>
<img src="/images/title.png">
</center>

<br>
<h3>MASTER DATA FORM</h3>
<form action="{{ url }}" method="POST">
 
<table align="center" cellpadding = "10">
 
<!----- First Name ---------------------------------------------------------->
<tr>
<td>Driver's Name</td>
<td><input type="text" name="dName" maxlength="30"/>
(max 30 characters and A-Z)
</td>
</tr>
<!----- Date Of Birth -------------------------------------------------------->
<tr>
<td>Guard's Name</td>
<td><input type="text" name="gName" maxlength="30"/>
(max 30 characters and A-Z)
</td>
</tr>
 <tr>
<td colspan="2" align="center">
<input type="submit" value="Submit" class="button">
<input type="reset" value="Reset" class="button">
</td>
</tr>

</table>
 
</form>
 
</body>
</html>