<html>
	<body>
		<h1>{{ title }}</h1>
		
		<form action="{{ url }}" method="post" >
			
			<label for="tID">Train ID: <input type="text" name="tID" id="tID" /> </label>
			<label for="tName">Train Name: <input type="text" name="tName" id="tName" /> </label>
			<label for="dName">Driver Name: <input type="text" name="dName" id="dName" /> </label>
			<label for="dNum">Driver Number: <input type="text" name="dNum" id="dNum" /> </label>
			<label for="eNum">Engine Number: <input type="text" name="eNum" id="eNum" /> </label>
			<label for="home">Home Station: <input type="text" name="home" id="home" /> </label>
			<label for="emp">Employee Number: <input type="text" name="emp" id="emp" /> </label>
			
			<input type="submit" />
		</form>
		
	</body>
</html>