<html>
	<body>
		
		<form action="{{ url }}" method="post">
			
			<label for="train_id">Train ID:
				<select name="train_id" id="train_id">
					{% for t in trainNotes %}
						
						<option value="{{ t.train_id }}">{{ t.train_id }}</option>
						
					{% endfor %}
				</select>
			</label>
			<br/>
			<label for="sCode">Station Code: <input type="text" id="sCode" name="sCode" /> </label><br/>
			<label for="track">Track Number: <input type="text" id="track" name="track" /> </label><br/>
			<label for="aTime">Arrival Time: <input type="text" id="aTime" name="aTime" /> </label><br/>
			<label for="dTime">Departure Time: <input type="text" id="dTime" name="dTime" /> </label><br/>
			
			<input type="submit" />
		</form>
		
	</body>
</html>