<html>
	<body>
		<h1>{{ title }}</h1>
		
		<form action="{{ url }}" method="post" >
			
			<label for="trackNum">Track Number: <input type="text" name="trackNum" id="trackNum" /> </label>
			<label for="trackName">Track Name: <input type="text" name="trackName" id="trackName" /> </label>
			<label for="sCode">Station code: <input type="text" name="sCode" id="sCode" /> </label>
			<label for="sName">Station name: <input type="text" name="sName" id="sName" /> </label>
			<label for="graphNum">Graph Number: <input type="text" name="graphNum" id="graphNum" /> </label>
			
			<input type="submit" />
		</form>
		
	</body>
</html>